* {
  margin: 0;
  padding: 0;
}
.backimg {
  background-image: url(./heroimage.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.hero_wrapper {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Ubuntu", sans-serif;
}

.hero_wrapper h1 {
  font-size: 4rem;
  font-family: "Caveat", cursive;
  text-align: center;
}
.form_code .post_code {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-left: auto;
  border-radius: 2rem;
  padding: 0.6rem;
  border: none;
  outline: none;
}
.form_code {
  text-align: center;
}
.form_code button {
  width: 40%;
  text-align: center;
  background-color: #00bab1;
  color: white;
  border: none;
  border-radius: 0.6rem;
  margin: 1rem auto 0rem;
  padding: 0.6rem;
}
.hero_wrapper p {
  margin-bottom: 1rem;
}

/* Product Section */

.product {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
}
.product_list {
  float: left;
  width: 30.33%;
  margin-left: 2rem;
}

/* Utility classes */
.img_responsive {
  max-width: 100%;
}
